## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 4
print (x)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print (type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print (type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
m = " Liliana Mendoza"

5) Crear una variable que contenga un número complejo

In [5]:
c = 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print (type(c))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi = 3.1415892653597
print(round(pi, 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [1]:
x = "True"
y = True

print('x es ', bool(x) , 'Y es ' , bool(y) , 'ambas tienen valor booleano: True')

x es  True Y es  True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [3]:
print('x es ', type(x) , ' y , Y es ' , type(y) )

x es  <class 'str'>  y , Y es  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [4]:
x1 = 1 
x2 = 3
y = x1 + x2 +3.6
print('y es igual a  ', y )

y es igual a   7.6

11) Realizar una operación de suma de números complejos

In [12]:
c = 5j
d = 7j
print('y es igual a la suma de dos numeros complejos ', c+d )

y es igual a la suma de dos numeros complejos  12j

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
c = 5j
e = 7.5

print('y es igual a la suma de un número real y otro complejo ',   c + e)

y es igual a la suma de un número real y otro complejo  (7.5+5j)

13) Realizar una operación de multiplicación

In [20]:
x1 = 10
x2 = 3
y = x1 *x2
print(' la multiplicacion de  ', x1 ,' y ', x2 , 'es igual a ' , y)

 la multiplicacion de   10  y  3 es igual a  30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
print(' el resultado de elevar 2 a la octava potencia es   ', 2**8)

 el resultado de elevar 2 a la octava potencia es    256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
x1 = 27
x2 = 4
y = x1 // x2
print(' el cociente de la división de 27 entre 4    ', 'es ', y)

 el cociente de la división de 27 entre 4     6

16) De la división anterior solamente mostrar la parte entera

In [ ]:
print(' el cociente o la parte entera de la división de 27 entre 4    ','es ', y)

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
x1 = 27
x2 = 4
y = x1 % x2
print(' el esto o residuo de la división de 27 entre 4    ', 'es ',  y)

 el esto o residuo de la división de 27 entre 4     es  3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
x1 = 27
x2 = 4
y = (x1 // x2) *4 + x1 % x2
print( y ,  ' se obtiene operando lo siguiente  (x1 // x2) * 4 + x1 % x2 ')

27  se obtiene operando lo siguiente  (x1 // x2) *4 + x1 % x2

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
m = "Liliana"
n =" Mendoza"
print( m + n)

Liliana Mendoza

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
x1 = "2"
x2 = 2

print(' 2 no es igual a ', x1, 'porque x1 es tipo' , type(x1) , ' y x2 es tipo' , type(x2) )

 2 no es igual a  2 porque x1 es tipo <class 'str'>  y x2 es tipo <class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
x1 = "2"
x2 = 2
x1 = int(x1)
print(' Ahora 2  es igual a ', x1, 'porque x1 es tipo' , type(x1) , ' y x2 es tipo' , type(x2) )

 Ahora 2  es igual a  2 porque x1 es tipo <class 'int'>  y x2 es tipo <class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [43]:
print( float("3,8") 
,' a arroja error porque la , es un caracter cadena entonces no se puede convertir a Float/ nuemro real ')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [48]:
x = 3
x-=1
print('Se toma el valor de x se resta 1, y el resultado es almacenado en x nuevamente', x)

Se toma el valor de x se resta 1, y el resultado es almacenado en x nuevamente 2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [53]:
print( 'El SNB es el lenguaje que usa la computadora para expresar un numero con unos y ceros') 
print( '1 << 2 es ', 1<<2 , ', y en SNB es un 1 dos pocisiones a la izquierda ' , bin(1 << 2))

El SNB es el lenguaje que usa la computadora para expresar un numero con unos y ceros
1 << 2 es  4 , y en SNB es un 1 dos pocisiones a la izquierda  0b100

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
# No está permitido porque los dos terminos  tienen de diferente tipo de dato,
# al homologar el tipo de dato se podria operar sin error

26) Realizar una operación válida entre valores de tipo entero y string

In [61]:
x1 = "2"
x2 = 2
y = x2 + int(x1)
print('una suma válida entre valores de tipo entero y string es x2 + int(x1), donde el resultado es ', y)

una suma válida entre valores de tipo entero y string es x2 + int(x1), donde el resultado es  4